<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Profile</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{user_form}}
        <button type="submit">Update</button>
        <p style="margin-top: 20px;"><a href="{% url 'user_auth:change_profile' %}" style="color: #007bff; text-decoration: none; font-weight: bold;">Change Profile</a></p>
    </form>
</body>
</html>
